/* Body Styles */
body{
    padding: 0;
    margin: 0;
    background-image: url(grey-background.png)
    
}
/*CONTAINER GRID*/
.container{
    display: grid;
    gap: 2.5rem;
    max-width: 82.5rem;
    box-sizing: border-box;
}
.proficiency-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.edu-tools{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap : .625rem;
}
/* END OF CONTAINER GRID*/

/* HEADER STYLES*/
.profile{
display: grid;
grid-template-columns: 1fr 1fr;
gap: .625rem;
width: 82.5rem;
margin: 3.75rem 3.75rem 0 3.75rem; 
}

.profile-picture{
    width: 18.7563rem;
    height: 18.7563rem;
    border-radius: 1.815rem;
}

.profile-bio{
border-radius: 1.815rem;
padding: 3.6875rem 4.3125rem; 
background-color: #FFFFFF;
box-shadow: #DADADA 0.1875rem blur;
}
h1{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 104%;
    color: #000000;
    vertical-align: middle;
    margin: 0 0 0 1rem;
    height: 2.3125rem;
    width: 18rem;
    text-align: left;
}

.bio-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 150%;
    color: #5C5C5C;
    vertical-align: middle;
    height: 8.25rem;
    width: 53.5rem;
    margin: 0;
}
/* END OF HEADER STYLES*/

/* PROFICIENCY STYLES */
.proficiency{
    background-color: #FFFFFF;
    width: 35.2437rem;
    height: 26.7725rem;
    border-radius: 1.815rem;
    padding: 2.5625rem 1.75rem;
    box-sizing: border-box;
    box-shadow: #DADADA 0.125rem blur;
    margin: 0 0 0 3.125rem;
}

.proficiency-level, .proficiency-visuals{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5125rem;
    line-height: 150%;
    color: #000000;
    vertical-align: middle;
    width: 31.8181rem;
    height: 2.25rem;
}
.proficiency-visuals{
    line-height: 104%;
    height: 11.1875rem;
}
.proficiency-level{
    text-align: right;
    word-spacing: .75rem;
}
.proficiency-item{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;

}
.proficiency-bar{
    height: 1.625rem;
    width: 20rem;
    background-color: #FFFFFF;
    border-radius: .4375rem;
    overflow: hidden;
}
.bar-fill{
    height: 100%;
    background-color: #4A8B70;
    border-radius: .4375rem;
}
/* END OF PROFICIENCY STYLES
/* SKILLS STYLES*/
.skills{
    box-sizing: border-box;
    width: 44.125rem;
    height: 26.8125rem;
    padding: 1.75rem;
    background-color: #FFFFFF;
    border-radius: 1.8125rem;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 42rem;
    height: 17.4375rem;

}

.skill-tag{
 height: 3.4375rem;
 width: auto;
 padding: .5625rem 1.5rem;
 border-radius: 6rem;
 background-color: #E7F0EC;
 white-space: nowrap;
 box-sizing: border-box;
 text-align: center;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-size: 1.5rem;
 line-height: 150%;
}
.skill-tag p{
    margin: 0;
}
/* END OF SKILLS STYLES*/

/* PROJECTS STYLES*/

.projects{
    width: 82.375rem;
    height: 47.1875rem;
    background-color: #FFFFFF;
    border-radius: 1.8125rem;
    box-sizing: border-box;
    padding: 2.6875rem 1.8125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 150%;
    margin-left: 3.125rem;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.1875rem;
    justify-content: center;
    width: 78.1875rem;
}
.card-1, .card-2, .card-3, .card-4{
    width: 17.5rem;
    height: 36.3125rem;
    border-radius: 1.8125rem;
    box-sizing: border-box;
    padding: 1.3125rem .9375rem;
    background-color: #4A8B70;
    box-shadow: #DADADA .125rem blur;
    color: #FFFFFF;
    position: relative;
}
 .card-2, .card-3, .card-4{
    background-color: #E7F0EC;
    color: #000000;
}

.date, .project-name{
    width: 3.75rem;
    height: 2.25rem;
    font-weight: 500;
    font-size: 1.5rem;
    vertical-align: middle;
}
.project-name{
    width: auto;
    margin-bottom: .75rem;
}
span{
font-weight: 700;
text-align: left;
}
.heart{
    position: absolute;
    top: 1.5625rem;
    right:1.25rem;
    height: 1.375rem;
    width: 26px;
}
/* END OF PROJECTS STYLES*/

/* Education Styles*/
.education{
    width: 62.125rem;
    height:52.9375rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 1.8125rem;
    border-radius: 1.8125rem;
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 2.1875rem;
    font-weight: 400;
    margin-left: 2.8125rem;
}


.edu-1, .edu-2{
    display: flex;
    background-color: #4A8B70;
    height: 15.125rem;
    width: 58.5rem;
    border-radius: 1.8125rem;
    padding: 1.6875rem 1.3125rem;
    box-sizing:border-box;
    color: #FFFFFF;
}
.edu-2{
    background-color: #E7F0EC;
    color: #000000;
}
.edu-date{
    width: 13.125rem;
    height: 1.8125rem;
    font-weight: 500;
    font-size: 1.1875rem;
    margin: .8125rem 0;
}
.edu-institution{
    width: 18.125rem;
    height: 1.625rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin: .8125rem 0;
}
.edu-role{
    margin: .8125rem 0;
}
.edu-points-1 li, .edu-points-2 li{
    margin-bottom: 20px;
}
.edu-details-1, .edu-details-2{
width: 16.6875rem;
height: 8.0625rem;
}
.edu-details-2{
    width: 18.75rem
}
.edu-points-1, .edu-points-2{ 
    width: 36.125rem;
    height: 10.875rem;
    box-sizing:border-box ;
}
.edu-points-2{
    width: 33.25rem;
}
/* END OF EDUCATION STYLES*/
/* EXPERIENCE STYLES*/

.experience{
    background-color: #FFFFFF;
    border-radius: 1.8125rem;
    padding: 1.9375rem 1.6875rem;
    box-sizing: border-box;
    width: 82.25rem;
    height: 40rem;
    margin-left: 1.5625rem;
}
.experience-cards{
    display: grid;
    grid-template-rows: repeat(3, 9.0625rem);
    gap: 1.875rem;
}
.exp-1, .exp-2, .exp-3{
    display: flex;
    width: 78.75rem;
    height: 9.0625rem;
    border-radius: 1.8125rem;
    box-sizing: border-box;
    padding: 1.1875rem 1.5625rem; 
    background-color: #E7F0EC;
    color: #000000;
    gap: .625rem;
}
.exp-1{
    background-color: #4A8B70;
    color: #FFFFFF;
    position: relative;
}
.experience-list li{
margin-bottom: 5px;
}
.exp-details-1, .exp-details-2, .exp-details-3{
width: 15 .8125rem;
height: 6.25rem;
}

.exp-points-1, .exp-points-2, .exp-points-3{
    width: 49.5625rem;
    height: 5.4375rem;
    font-family:  'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 150%;
    vertical-align: middle;
}
.divider{
    margin: 0 .3125rem;
}
/* Most Recent Tag*/ 

.tag-container{
    width: 7.6875rem;
    height: 2rem;
    border-radius: 8.875rem;
    box-sizing: border-box;
    padding: .25rem 0;
    background-color: #D76239;
    position: absolute;
    top: .625rem;
    right: .625rem;
    text-align: center;
}
.tag{
    width: 5.625rem;
    height: 1.4375rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 155%;
    vertical-align: middle;
    color: #FFFFFF;
}
.exp-date, .exp-company, .exp-role{
    width: 13.125rem;
    height: 1.8125rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1875rem;
    font-weight: 500;
    line-height: 150%;
    vertical-align: middle;
    margin: 0;
}
.exp-role{
    height: 2.25rem;
    width: auto;
    font-size: 1.5rem;
}
.exp-company{
    height: 1.8125rem;
    width: auto;
}
.experience-list{
    margin: 0;
}
/* END OF EXPERIENCE STYLES*/ 

/* TOOLS STYLES*/ 
.tools-section{
    width: 18.75rem;
    height: 52.9375rem;
    border-radius: 1.8125rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: .625rem .3125rem;
}
.tools-list{
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
    align-items: center;
}

.languages, .tools, .design{
    width: 11.4375rem;
    height: 17.0625rem;
    border-radius: .875rem;
    box-sizing: border-box;
    padding: 2.375rem .5625rem;
    background-color: #E7F0EC;
    position: relative;
    text-align: center;
}

.design{
    width: 11.5rem;
    height: 9.5rem;
    padding: 1.875rem .5625rem;
}
.tools{
    width: 11.4375rem;
    height: 12.375rem;
}
/* Label Styles*/

.label-1, .label-2, .label-3{
    position: absolute;
    left: 50%;
    top: -0.75rem;
    transform: translateX(-50%);
    border-radius: 8.875rem;
    box-sizing: border-box;
    padding: .25rem .875rem;
    background-color: #000000;
    color: #E7F0EC;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    line-height: 142%;
    vertical-align: middle;
    height: 1.625rem;
    z-index: 1;
    text-align: center;
}
.label-1{
    width: 5.9375rem;
}
.label-2{
    width: 4.4375rem;
}
.label-3{
    width: 3.6875rem;
}
/* Icons Grid*/

.icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.language-icon-1, .language-icon-2, .language-icon-3, .language-icon-4, .tools-icon{
    height: 2.5625rem;
    width: 2.5625rem;
}
.language-icon-5{
    width: 2.5625rem;
    height: 1.625rem;
}
.language-icon-6{
    width: 2rem;
    height: 2.25rem;
}
.design-icon-1, .design-icon-2, .design-icon-4{
    height: 2.5625rem;
    width: 2.5625rem;
}
.design-icon-4{
    height:36px;
    width: 1.5rem;
}
/* END OF TOOLS STYLES*/

/* FOOTER STYLES*/

.contact{
    width: 82.5rem;
    height: 9.875rem;
    background-color: #D76239;
    border-radius: 1.8125rem;
    box-sizing: border-box;
    padding: 1.8125rem;
    margin-left: 1.25rem;

}
.message, .contact-info{
    width: 78.9375rem;
    height: 3.1875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.0625rem;
    line-height: 150%;
    vertical-align: middle;
    color:#FFFFFF;
    margin-bottom: .25rem;
    margin-top: 0;
}
.contact-info{
    color: #DDDDDD;
    font-weight: 400;
    font-size: 1.5rem;
    height: 2.25rem;
}
.contact-info a:hover{
    text-decoration: underline;
}
.line{
    margin: 0 30px;
}
/* END OF FOOTER STYLES*/

/* ALL TITLES STYLES*/

.education-title, .experience-title, .proficiency-title, .skills-title, .projects-title, .tools-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.1175rem;
    line-height: 150%;
    color: #000000;
    vertical-align: middle;
    height: 3.1875rem;
}

/* Individual titles*/ 

.education-title{
    width: 10.75rem;
}
.experience-title{
    width: 11.5625rem;
    margin: 0 0 1.25rem 0; 
}
.projects-title{
width: 8.5rem;
margin: 0 auto;
margin-bottom: .75rem;

}
.skills-title{
    width: 5.3125rem;
    margin: 0 0 .625rem 0;
}
.proficiency-title{
    width: 31.8125rem;
}
.tools-title{
    width: 5.625rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;

} /* END OF TITLES STYLES*/

/* RESPONSIVE STYLES*/ 
/* Mobile 320-640*/

@media (max-width: 640px) {
/* Container*/
.container{
gap: .75rem;
}
/* Header*/
.profile{
    width: 18.75rem;
    height: 8.5625rem;
}
.profile-picture{
    width: 9.1875rem;
    height: 8.5625rem;
    border-radius: .75rem;
}
.profile-bio{
    width: 10.1875rem;
    height: 8.5625rem;
    box-sizing: border-box;
    border-radius: .75rem;
    padding: .75rem;
    overflow: hidden;
}

h1{
    width: 8.6875rem;
    height: 1.0625rem;
    font-size: .875rem;
    margin: 0;
}
.bio-text{
    width: 139px;
    height: 4.6875rem;
    font-size: .625rem
}
/* Proficiency*/
.proficiency-skills{
    grid-template-columns: 1fr;
    gap: .75rem;
}
.proficiency{
    width: 19.875rem;
    height: 11.0625rem;
    margin-left: 60px;
    padding: .75rem;
}
.proficiency-title{
    width: 4.875rem;
    height: 1.3125rem;
}
.proficiency-title, .skills-title, .projects-title, .education-title, .tools-title, .experience-title{
    font-size: .875rem
}
.proficiency-level{
    width: 13rem;
    height: .9375rem;
    font-size: .625rem;
    word-spacing: .3125rem;
}
.proficiency-visuals{
    width: 18.125rem;
    height: 4.625rem;
}
.proficiency-item{
    margin-bottom: 5px
}
.proficiency-item-name{
    height: .625rem;
    width: auto;
    font-size: .625rem
}
.proficiency-bar{
    width: 9.6875rem;
    height: .6875rem;
}

/* Skills*/
.skills{
    width: 19.875rem;
    height: 11.0625rem;
    padding: .75rem;
    margin-left: 60px
}
.skills-title{
    width: 2.1875rem;
    height: 1.3125rem;
}
.skills-list{
    width: 18.375rem;
    height: 7.25rem;
    justify-content: space-around;
    gap: .5rem;
}
.skill-tag{
    width: auto;
    height: 1.4375rem;
    font-size: .625rem;
}

/* Projects*/
.projects{
    width: 19.875rem;
    height: 39.5rem;
    padding: 12px; 
}
.projects-title{
    width: 3.5625rem;
    height: 1.3125rem;
    margin: 0 auto;
}
.project-cards{
    width: 18.1875rem;
    height: 35.75rem; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .5625rem;
}
.card-1, .card-2, .card-3, .card-4{
    width: 8.75rem;
    height: 17.125rem;
    padding: .5625rem;
    overflow: hidden;
}
.date{
    width: 1.875rem;
    height: 1.125rem;
    margin: .3125rem;
    font-size: .75rem;
}
.project-name{
    height: 1.125rem;
    width: auto;
    font-size: .75rem;
    margin: .3125rem 0 0 0;
}
span, .card-details p{
font-size: .5625rem;
margin: 0;
display: inline;
}
.heart{
    width: .75rem;
    height: .75rem;
    top: .625rem;
    right: .625rem;
}
/* Education*/
.edu-tools{
    grid-template-columns: 1fr;
}
.education-title{
    width: 4.4375rem;
    height: 1.3125rem;
    margin: 0;
}
.education{
    width: 19.875rem;
    height: 26.9375rem;
    border-radius: .75rem;
    padding: .5rem;
    border-radius: .75rem;
    gap: .625rem;
}
.edu-1{
    width: 18.4375rem;
    height: 10.75rem;
    border-radius: .625rem;
    padding: .5rem;
}
.edu-2{
    width: 18.4375rem;
    height: 7.9375rem;
    border-radius: .625rem;
    padding: .5rem
}
.edu-details-1, .edu-details-2{
    width: 7.5rem;
}
.edu-date, .edu-role, .edu-points-1, .edu-points-2{
    font-size: .625rem;
    margin: 0;
}
.edu-date, .edu-role{
    max-width: 7.5rem;
}
.edu-institution{
    font-size: .625rem;
    margin: 0;
}
.edu-points-1, .edu-points-2 {
    width: 9.0625rem;
    height: 8.25rem;
    padding: 0;
}
.edu-points-1 li, .edu-points-2 li{
    width: auto;
    height: auto;
    margin: 0;
    display: inline;
}
/* Tools*/
.tools-section{
    margin-left: 3.125rem;
    border-radius: .75rem;
    width: 19.875rem;
    height: 10.1875rem;
}
.tools-title{
    margin: 0;
    display: inline;
    text-align: center;
}
.tools-list{
    flex-direction: row;
    width: 17.5rem;
    height: 6.5rem;
    gap: .875rem;
    justify-content: center;
    margin-bottom: .75rem
}
.label-1, .label-2, .label-3{
    width: 2.5rem;
    height: .6875rem;
    border-radius: 3.6875rem;
    padding: .125rem .375rem; 
    font-size: .3125rem;
    top: -0.4375rem;
}
.languages, .design, .tools{
    width: 4.75rem;
    height: 6.5rem;
    border-radius: .375rem;
    padding: .25rem .25rem;
}
.language-icon, .design-icon, .tools-icon{
    width: 1.0625rem;
    height: 1.0625rem;
}
.icons{
    gap: .75rem;
}
/* Experience*/
.experience{
    width: 19.875rem;
    height: 30.4375rem;
    border-radius: .75rem;
    padding: .125rem;
    margin-left: 3.125rem;
}
.exp-1, .exp-2, .exp-3{
    width: 18.4375rem;
    height: 8.125rem;
    padding: .5rem;
    border-radius: .625rem;
}
.experience-cards{
    gap: .625rem;
}
.experience-title{
    display: inline;
}
.tag-container{
    width: 3.8125rem;
    height: 1rem;
    border-radius: 3.6875rem;
    padding: .125rem 0; 
}
.tag{
    font-size: .3125rem;
}
.exp-date, .exp-role, .experience-list{
    font-size: .5rem;
}
.experience-list{
    padding: 0;
    width: 9.375rem;
}
.experience-list li{
    display: inline;
}
.exp-company{
    font-size: .625rem;
    max-width: 7.5rem;
}
.exp-details-1, .exp-details-2, .exp-details-3{
    width: 7.8125rem;
}
/* Footer*/
.contact{
    
}
}