/* Body Styles */
body{
    padding: 0;
    margin: 0;
    background-image: url(grey-background.png)
    
}
/* Container Styles */


/* Header Styles*/
.profile{
display: flex;
gap: .625rem;
margin-left: 3.6875rem;
margin-top: 3.9375rem;
margin-right: 3.6875rem;
width: 81.5rem;
}

.profile-picture{
    width: 18.7563rem;
    height: 18.7563rem;
    border-radius: 1.815rem;
}

.profile-bio{
border-radius: 1.815rem;
padding: 3.6875rem 4.3125rem; 
background-color: #FFFFFF;
box-shadow: #DADADA 0.1875rem blur;
}
h1{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 104%;
    color: #000000;
    vertical-align: middle;
    margin-bottom: .6875rem;
    margin-top: 0;
    height: 2.3125rem;
    width: 18rem;
    text-align: left;
}

.bio-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 150%;
    color: #5C5C5C;
    vertical-align: middle;
    height: 8.25rem;
    width: 53.5rem;
    margin: 0;
}

/* Main Section Styles*/
.main-section{
    display: grid;
    gap: 2.4375rem;;



}
/* Proficiency Styles */
.proficiency{
    background-color: #FFFFFF;
    width: 35.2437rem;
    height: 26.7725rem;
    border-radius: 1.815rem;
    padding: 2.5625rem 1.75rem;
    box-sizing: border-box;
    box-shadow: #DADADA 0.125rem blur;
    margin-left: 3.875rem;
    margin-top: 3rem;
}

.proficiency-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.1175rem;
    line-height: 150%;
    color: #000000;
    vertical-align: middle;
    letter-spacing: 0%;
    width: 31.8181rem;
    height: 3.1875rem;
}

.proficiency-level{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5125rem;
    line-height: 150%;
    color: #000000;
    vertical-align: middle;
    letter-spacing: 0%;
    width: 31.8181rem;
    height: 2.25rem;
    text-align: right;
    word-spacing: .75rem;
}
.proficiency-visuals{
    display: flex;
    flex-direction: row;
    gap: 1.5125rem;
    width: 31.8125rem;
    height: 11.1875rem;
    align-content: center;
}
.proficiency-list{
    list-style: none;
}
.proficiency-bar{
    height: 11.1875rem;
    width: 20.0625rem;
    list-style: none;
}
.bar-item{
    height: 1.625rem;
    fill: #4A8B70;
    border-radius: .4537rem;
}
.bar-1{
width: 19.8125rem;
}
.bar-2{
    width: 14.5rem;
}
.bar-3{
  width: 7.0625rem;
}
.bar-4{
    width: 11.4375rem;
}

/* Skills Styles*/
.skills{
    box-sizing: border-box;
    width: 44.125rem;
    height: 26.8125rem;
    padding: 1.75rem;
    background-color: #FFFFFF;
    border-radius: 1.8125rem;
    margin-top: 3rem;
}

.skills-title{
    height: 3.1875rem;
    width: 5.3125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.0625rem;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 42rem;
    height: 17.4375rem;

}

.skill-tag{
 height: 3.4375rem;
 width: auto;
 padding: .5625rem 1.5rem;
 border-radius: 6rem;
 background-color: #E7F0EC;
 white-space: nowrap;
 box-sizing: border-box;
 text-align: center;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-size: 1.5rem;
 line-height: 150%;
}

/* Projects Styles*/

.projects{
    width: 82.375rem;
    height: 47.1875rem;
    background-color: #FFFFFF;
    border-radius: 1.8125rem;
    box-sizing: border-box;
    padding: 2.6875rem 1.8125rem;
    margin-left: 3.9375rem;

}

.projects-title{
    width: 8.5rem;
    height: 3.1875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.0625rem;
    line-height: 150%;
    vertical-align: middle;
    color:#000000;
}


/* Education Styles*/
.education{
    width: 62.125rem;
    height:52.9375rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 1.8125rem;
    border-radius: 1.8125rem;
    margin-left: 63px;
}


.education-title{
    width: 10.75rem;
    height: 3.1875rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.0625rem;
    line-height: 150%;
    vertical-align: middle;
    color:#000000;
}

.edu-1{
    display: flex;
    background-color: #4A8B70;
    height: 15.125rem;
    width: 58.5rem;
    border-radius: 1.8125rem;
    padding: 1.6875rem 1.3125rem;
    box-sizing:border-box
}

.edu-2{
    display: flex;
    background-color: #FFFFFF;
    height: 15.125rem;
    width: 58.5rem;
    border-radius: 1.8125rem;
    padding: 1.6875rem 1.3125rem;
    box-sizing: border-box;
}

/* Experience Styles*/
.experience{
    width: 82.25rem;
    height: 40rem;
    background-color: #FFFFFF;
    border-radius: 1.8125rem;
    padding: 1.9375rem 1.6875rem;
    box-sizing: border-box;
    margin-left: 3.9375rem;
    
}